    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        height: 100vh;
        background-color: #EDEDED;
    }

    .wrapper {
        width: 85%;
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 400
    }

    .bar {
        display: flex;
        align-items: center;
    }

    #bar_link {
        margin-left: auto;
    }